<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="/base :: common_header(~{::title})">
    <title th:text="#{board.main.title}"></title>
</head>
<body style="background-color: white; height: 100vh;">
    <div style="width: 100%; display: flex; align-items: center; justify-content: center;">
        <h2 th:text="#{board.main.title}"></h2>
    </div>

    <form class="aui">
        <div class="field-group">
            <label for="title">Title<span class="aui-icon icon-required">(required)</span></label>
            <input class="text long-field" type="text" id="title" name="title" placeholder="Title">
            <div class="description">Your article title.</div>
        </div>
        <div class="field-group">
            <label for="content">Content</label>
            <textarea rows="10" class="textarea" name="content" id="content" placeholder="Your article content here..."></textarea>
        </div>
        <div class="buttons-container">
            <div class="buttons">
                <input class="button submit" type="submit" value="Save" id="article-save-button">
            </div>
        </div>
    </form>

</body>
</html>