<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="/base :: common_header(~{::title})">
    <title th:text="#{board.main.title}"></title>
</head>
<body>
    <div style="width: 100%; display: flex; align-items: center; justify-content: center;">
        <h2 th:text="#{board.main.title}"></h2>
    </div>

    <form th:action="@{/board/new}"
          th:object="${article}"
          method="post"
          class="aui">
        <div class="field-group">
            <label th:for="title" th:text="#{board.title}"></label>
            <input class="text long-field" type="text" th:field="*{title}" th:placeholder="#{board.title}">
            <div th:if="${#fields.hasErrors('title')}" th:errors="*{title}" class="error"></div>
        </div>
        <div class="field-group">
            <label th:for="content" th:text="#{board.content}"></label>
            <textarea rows="10" class="textarea long-field" type="number" th:field="*{content}" th:placeholder="#{board.content}"></textarea>
            <div th:if="${#fields.hasErrors('content')}" th:errors="*{content}" class="error"></div>
        </div>
        <div class="buttons-container">
        <button type="submit" class="aui-button aui-button-primary" th:text="#{create.button}"></button>
        </div>
    </form>
</body>
</html>