<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="~{base :: common_header(~{::title})}">
    <title th:text="#{board.main.title}"></title>
</head>
<body style="background-color: white;" class="ac-content">
    <div style="width: 100%; display: flex; align-items: center; justify-content: center;">
        <h2 th:text="#{board.main.title}"></h2>
    </div>
    <div style="width: 100%; display: flex; align-items: center; justify-content: flex-end">
        <a class="aui-button aui-button-primary"
           th:href="@{${hostUser.getHost().getBaseUrl()} + '/plugins/servlet/ac/demo-app/board-new'}"
           th:target="_top"
           th:text="#{create.button}"></a>
    </div>
    <table id="board-table" class="aui aui-table-sortable">
        <thead>
            <tr>
                <th th:text="#{board.title}"></th>
                <th th:text="#{board.writer}"></th>
                <th th:text="#{board.created}"></th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="article : ${articles.getArticles()}">
                <td>
                    <a th:text="${article.getTitle()}"
                       th:target="_top"
                       th:href="@{/board/article/{articleId}(articleId=${article.getArticleId()})}"></a>
                </td>
                <td th:text="${article.getWriterDisplayName()}"></td>
                <td th:text="${article.getCreatedAt()}"></td>
            </tr>
        </tbody>
    </table>
</body>
</html>